/*This is the css file for register.html page*/
/*This is body decoration*/
body{
    background-image: url(SardiniaFlavia.jpg);
    justify-content: center;
    object-fit: cover;
    align-items: center;
    display: flex;
}

/*form box style starts from here*/
form{
    height: 700px;
    width: 400px;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 15px;
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 30,0.3);
    background-color: wheat;        
}

/*head decoration*/
h1{
    padding-top: 4%;
    text-decoration: underline solid red;
    color: red;
    font-size: 50px;
    text-align: center;
}

/*all input decoration*/
input {
    height: 20px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
}

/*form background decoration*/
whole{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*all label decoration*/
label{
    color: yellow;
    font-size: 20px;
}

/*register button decoration anly*/
.register{
    background-color: green;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

/*register button hover decoration*/
.register:hover{
    background-color: darkgreen;
}

/*placehoder decoration but still not working its under maintenance*/
input :placeholder-shown{
    color: blue;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}